# Example env file for running docker compose up
# Copy this file to `.env.gitgateway.local` and then fill in the values

# the repo that netlify should be operating on
GITGATEWAY_GITHUB_REPO=HHS/nih-oite-website

# JWT Verification secret, should be the same as what is in `rails credentials:show`
GITGATEWAY_JWT_SECRET="CHANGE ME"

# Github access token for the repo admin user that netlify acts as
GITGATEWAY_GITHUB_ACCESS_TOKEN="CHANGE ME"
