<h1>Pages#home</h1>
<% if user_signed_in? %>
  <p>User: <%= current_user.email %></p>
<% end %>

<ul>
  <% @pages.each do |p| %>
    <li>
      <% if user_signed_in? || p.public? %>
        <%= link_to p.title, "/#{p.filename}" %>
      <% else %>
        <%= p.title %> (Private Access)
      <% end %>
    </li>
  <% end %>
</ul>
