@use "uswds";

// .grid-row--cms-columns identifies .grid-rows used for {::columns} components
// These get some extra padding and niceties so they flow with user content
// a little better than stock columns.
.grid-row--cms-columns {
  margin-bottom: uswds.units(4);

  > [class*="tablet:grid-col"] {
    margin-bottom: uswds.units(4);

    @include uswds.at-media("tablet") {
      margin-bottom: 0;
    }

    > p:only-child > img:only-child {
      display: block;
    }
  }

  + hr {
    margin-top: 0;
  }
}
