@use "uswds" as *;

.oite-event {
  border: 1px solid color("gray-cool-20");
  line-height: line-height("body", 4);
  margin-bottom: units(4);
  padding: units(2);

  .usa-icon {
    height: 1.25em;
    width: 1.25em;
  }

  &__type {
    &--workshop > .usa-tag {
      background-color: color("primary-dark");
    }
    &--small-group > .usa-tag {
      background-color: color("accent-warm-darker");
    }
  }

  &__warnings {
    border: 1px solid color("base-lighter");
    border-radius: units(0.5);
    color: color("blue-cool-60");
    padding: 0 units(2);

    > div {
      margin: units(2) 0;
    }
  }
}
