@use "uswds-core" as uswds;

.nih-sidebar {
  border: 1px solid uswds.color("primary");

  & > div {
    border-bottom: 1px solid uswds.color("gray-50");

    &:last-child {
      border-bottom: none;
    }
  }
}
