@use "uswds";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: uswds.color("primary-darker");

  // Undo usa-prose margin style when stuck after an <hr> (let the <hr> do the
  // margining)
  hr + & {
    margin-top: 0;
  }
}

h3 {
  font-weight: 300;
}

// Don't add extra margin to the <h1> at the top of a content page.
.oite-page-content > h1:first-child {
  margin-top: 0;
}
