@use "uswds-core" as uswds;

// Allow using unstyled buttons (buttons that look like links) in secondary nav
.usa-nav__secondary-item {
  .usa-button--unstyled {
    color: uswds.color("base");
    display: inline-block;
    font-size: uswds.font-size(uswds.$theme-navigation-font-family, "2xs");
    text-decoration: none;

    &:hover {
      color: uswds.color("primary");
      text-decoration: underline;
    }
  }
}

// Center footer logo vertically
.usa-footer__logo-img {
  display: block;
}
